<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ostolex.castledice">
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <application android:theme="@style/UnityThemeSelector" android:icon="@drawable/app_icon" android:label="@string/app_name" android:name="io.branch.unity.BranchUnityApp">
    <activity android:name="io.branch.unity.BranchUnityActivity" android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
      <meta-data android:name="unityplayer.ForwardNativeEventsToDalvik" android:value="true" />
      <intent-filter>
        <data android:host="google-auth-redirect" android:scheme="castledice" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
      <intent-filter>
        <data android:host="open" android:scheme="castledice" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
      </intent-filter>
    </activity>
    <meta-data android:name="io.branch.sdk.auto_link_disable" android:value="false" />
    <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_ctoVaK2Wa57bGew7DanxDjbhCqkYPUVU" />
    <!-- AnalyticsFixPropertyRemover -->
  </application>
</manifest>